<div class="card">
	<div class="card-header">
		<h3 class="card-title">Docteurs</h3>
    <div class="card-options">
      <%= link_to 'Nouveau', new_doctor_path, class: 'btn btn-secondary btn-sm ml-2' %>
    </div>
	</div>
  <div class='table-responsive'>
  </div>
</div>
